<!--This Source Code Form is subject to the terms of the Mozilla Public-->
<!--License, v. 2.0. If a copy of the MPL was not distributed with this-->
<!--file, You can obtain one at http://mozilla.org/MPL/2.0/.-->
<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">CUBA Platform Frontend Generator</a>
    </div>
    <div id="topbar-nav" class="navbar-menu">
          <div class="navbar-end">
              <div class="navbar-item has-dropdown is-hoverable">
                  <div class="navbar-link">Libraries API Reference</div>
                  <div class="navbar-dropdown">
                      <a class="navbar-item is-hoverable" href="api-reference/cuba-rest-js/index.html" target="_blank">
                          CUBA REST JS
                      </a>
                      <a class="navbar-item is-hoverable" href="api-reference/cuba-react-core/index.html" target="_blank">
                          CUBA React Core
                      </a>
                      <a class="navbar-item is-hoverable" href="api-reference/cuba-react-ui/index.html" target="_blank">
                          CUBA React UI
                      </a>
                  </div>
              </div>
              <a class="navbar-item is-hoverable" href="https://github.com/cuba-platform/frontend" target="_blank">
                  GitHub Home
              </a>
           </div>
          </div>
    </div>
  </nav>
</header>