.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #CCCCCC;
}

.app-header__icon {
  width: 40px;
  height: 40px;
}

.user-panel > .panelelement {
  margin: 6px;
  border: 0;
}
