<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/favicon.ico}"/>
    <link rel="icon" type="image/gif" th:href="@{/resources/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/resources/css/common.css}"/>
</head>
<body>
<h2>Cuba Portal</h2>
<div class="span6">
    <h3>Login</h3>

    <div th:if="${(param.error != null)}">
        <p>Invalid username / password</p>
    </div>

    <form id="f" name="f" method="POST" action="login">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div>
            <div>
                <label style="width: 80px" for="login">Login</label>
                <input type="text" id="login" name="login" value=""/>
            </div>
            <div>
                <label style="width: 80px" for="password">Password</label>
                <input type="password" id="password" name="password" value=""/>
            </div>
        </div>
        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>