<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>
        Under construction
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/favicon.ico}" />
    <link rel="icon" type="image/gif" th:href="@{/resources/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/resources/css/common.css}" />
</head>
<body>
<h2>Sorry, resource is unavailable</h2>

Please, try again after 20 min
</body>
</html>